<button onclick="location.href='/products'">
  Store
</button>

<h1>{{role}}</h1>

<h2>
  Welcome
  {{email}}
</h2>

<p>
  {{first_name}}
  {{last_name}}
</p>

<p>
  {{age}}
</p>

<button onclick="location.href='/api/users/logout'">
  Logout
</button>